name: Android CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create gradle.properties
      run: echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" >> gradle.properties

    - name: Run ktlint
      run: ./gradlew ktlintCheck

    - name: Run detekt
      run: ./gradlew detekt

    - name: Run unit tests
      run: ./gradlew :veview-sdk:testDebugUnitTest

    - name: Build release APK
      run: ./gradlew assembleRelease
